* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header1 {
  width: 100%;
  height: 22vh;
  margin: 0px;
  background-color: rgb(243, 239, 235);
  padding: 0.5rem;
}

.header2 {
  width: 100%;
  height: 22vh;
  margin: 0px;
  background-color: rgb(243, 239, 235);
  padding: 0.5rem;
}

a:hover {
  background: rgb(0, 255, 94);
  width: 200px;
  justify-content: center;
  align-items: center;
}

a:active {
  background: rgb(255, 0, 68);
  color: rgb(255, 255, 255);
}

.nav-item {
  display: flex;
  position: relative;
  width: 140px;
  margin: 5px 5px;
  color: rgb(255, 255, 255);
  background-color: blue;
  text-decoration: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: end;
}

.nav-link {
  font-size: 14px;
  color: aquamarine;

}

.form-check-label {
  font-size: 16px;
  color: rgb(33, 5, 247);
  font-weight: bold;
}

body {
  font-size: 16px;
  background-color: rgb(246, 249, 250);
}

.carousel-slide {
  height: 15rem;
  width: 100%;
  padding: 0.5rem;
}

.card {
  width: var(--max);
  padding: 10px;
  background-color: chartreuse;

}

.card-img-top {
  width: 100%;
  max-width: var(--max);
  height: 20rem;
  object-fit: cover;
}

.card-text {
  text-align: justify;
}

@media (max-width: 800px) {
  .card-text {
    font-size: 0.8rem;
  }

  .nav-item {
    z-index: 1300;
  }

  .card {
    margin-left: 90px;
  }

  .nav-link {
    font-size: 0.5rem;
  }
}

.contact {
  font-size: 22px;
  color: rgb(33, 5, 247);
  font-weight: bold;
  text-align: center;
}

footer {
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 0.5rem;
  background-color: rgb(20, 208, 36);

}

.container-icono svg {
  height: 15px;
  width: 15px;
  color: blue;
  margin-left: 10px;
}

.footer {
  text-align: center;
  font-size: 16px;
  color: rgb(33, 5, 247);
}

.my-1 {
  text-align: end;
}

.form-label {
  font-size: 18px;
  color: rgb(33, 5, 247);
  font-weight: bold;
}

.table {
  border: blue 5px solid;
  margin right: 15px;
  padding: 15px;
}